.questionCard, .questionText, .correct, .Incorrect, button, .CompletedDialog {
  margin: auto;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

.anwserButton {
  background-color: lightgray;
  text-decoration: solid;
}

.CompletedDialog {
  background-color: lightgray;
}
.questionCard {
  background-color: dimgray;
}

.questionText {
  background-color:white;
}

.correct {
  background-color: lawngreen;
}

.Incorrect {
  background-color:red;
}
