<html lang="en">
<body>
    <div>
      <div class="questionCard" *ngIf="question">
        <div class="questionText"> {{question.id}}: {{question.actualQuestion}}</div>
        <div *ngFor="let awnser of question.answers">
          <button [disabled]="deactivate === true" (click)="CheckAwnser(awnser)"> {{awnser.actualAnswer}}</button>
        </div>
        <div class="correct" *ngIf="correct === true">
          <h1>Correct!</h1>
          <h1 *ngIf="lastQuestion">Completed the quiz</h1>
          <button (click)="GetNextQuestion()" *ngIf="!lastQuestion">Next Question</button>
        </div>
        <div class="Incorrect" *ngIf="correct === false">
          <h1>Incorrect!</h1>
          <h1 *ngIf="lastQuestion">Completed the quiz</h1>
          <button (click)="GetNextQuestion()" *ngIf="!lastQuestion">Next Question</button>
        </div>
      </div>
    </div>
</body>
</html>
