.resultProcentage, .badResult, .goodResult .card {
  margin: auto;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  text-decoration-style: double;
}

.resultProcentage {
  background-color: white;
}

.card {
  background-color: dimgray;
  padding: 20px;
}

.goodResult {
  background-color:lawngreen;
}

.badResult {
  background-color: red;
  font-weight: bold;
}
